= semantic_form_for @search do |f|
  = f.inputs do
    = f.input :name

  = f.inputs "Parameters" do
    = f.input :rent_min, as: :number
    = f.input :rent_max, as: :number

    = f.input :area_min, as: :number
    = f.input :area_max, as: :number

    = f.input :rooms_min, as: :number
    = f.input :rooms_max, as: :number

    = f.input :misc

    = f.input :furniture, as: :boolean

    = f.input :location

  = f.inputs "Schedule" do
    = f.input :schedule

  = f.actions do
    = f.action :submit
    = f.action :cancel
